NODE_ENV=development
SERVER_PORT=3000

MONGO_ROOTUSER=root
MONGO_ROOTPASSWORD=[REDACTED]
MONGO_CONNECTIONURL=mongodb://root:[REDACTED]@localhost:27017
MONGO_BASEDBNAME=BaseDatabase
MONGO_UNIVERSALDBNAME=UniversalDatabase
MONGO_AGENDADBNAME=AgendaDatabase

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_CONNECTTIMEOUT=1000

MINIO_URL=http://localhost:9000
MINIO_ROOTUSER=admin
MINIO_ROOTPASSWORD=[REDACTED]
MINIO_USER=appuser
MINIO_USERPASSWORD=[REDACTED]
MINIO_BUCKET=fotf

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@example.com
SMTP_PASS=your-app-password
SMTP_SECURE=false

SECURITY_HMACSECRET=[REDACTED]
APP_ADMINPASSWORD=[REDACTED]
APP_MASTERPASSWORD=[REDACTED]
