[submodule "game-design-docs"]
	path = game-design-docs
	url = https://github.com/fortress-of-the-fallen/FotF-GDD.git
[submodule "telegram-bot"]
	path = telegram-bot
	url = https://github.com/fortress-of-the-fallen/telegram-bot.git
[submodule "deploy"]
	path = deploy
	url = https://github.com/fortress-of-the-fallen/deploy.git
